#reset-game{
    background-color: #0075F4;
    color: whitesmoke;
    border-radius: 4px;
    border: none;
    padding: 5px
}

/* #continue-game{
    background-color: #f2074e;
    color: whitesmoke;
    border-radius: 4px;
    border: none;
    padding: 5px
} */

#pause-game{
    background-color: #f4c700;
    color: whitesmoke;
    border-radius: 4px;
    border: none;
    padding: 5px
}